/**
 * @file
 * Styles for the field_pgwslideshow module.
 */

/*
 * Fix some odd styling applied to unordered lists in Drupal core.
 */
.region-content ul.pgwSlideshow,
.region-content ul.pgwSlideshowLight,
.region-content .pgwSlideshow ul,
.region-content .pgwSlideshowLight ul {
  margin: 0;
  padding: 0;
}

.pgwSlideshow .ps-current > ul > li,
.pgwSlideshowLight .ps-current > ul > li,
.pgwSlideshow .ps-list li,
.pgwSlideshowLight .ps-list li,
.item-list ul.pgwSlideshow li,
.item-list ul.pgwSlideshowLight li,
.pgwSlideshow .item-list ul li,
.pgwSlideshowLight .item-list ul li {
  margin: 0;
  padding: 0;
}
